
{% block body %}
	<h1>Event index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>StartDateTime</th>
				<th>Duration</th>
				<th>RegistrationDeadline</th>
				<th>MaxRegistration</th>
				<th>Info</th>
				<th>Statut</th>
				<th>Organisateur</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for evt in events%}
				<tr>
					<td>{{ evt.name }}</td>
					<td>{{ evt.startDateTime ? evt.startDateTime|date('d-m-Y H:i:s') : '' }}</td>
					<td>{{ evt.duration }}</td>
					<td>{{ evt.registrationDeadline ? evt.registrationDeadline|date('d-m-Y') : '' }}</td>
					<td>{{ evt.maxRegistration }}</td>
					<td>{{ evt.info }}</td>
					<td>{{ evt.status.type }}</td>
					<td>{{ evt.organizer.username }}</td>
					<td>
						<a href="{{ path('app_event_show', {'id': evt.id}) }}">Afficher</a>
						<a href="{{ path('app_event_edit', {'id': evt.id}) }}">Modifier</a>
						{% if app.user.id is same as(evt.organizer.id) and evt.status.type is same as ('Ouverte')%}
							<a href="{{ path('app_event_cancel_redirect', {'id': evt.id}) }}" class="text-danger">Annuler la sortie</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
