
{% block body %}
	<h1>Event index</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture des inscriptions </th>
                <th>Inscrits/Places</th>
                <th>Etat</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.startDateTime ? event.startDateTime|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ event.registrationDeadline ? event.registrationDeadline|date('d-m-Y') : '' }}</td>
                <td>{{ event.users|length }} / {{ event.maxRegistration }} </td>
                <td>{{ event.status.type }}</td>
                <td><a href="{{ path('app_user_show', {'id': event.organizer.id}) }}">{{ event.organizer.username }}</a></td>
                <td>
                    <a href="{{ path('app_event_show', {'id': event.id}) }}">Afficher</a>
                    <a href="{{ path('app_event_edit', {'id': event.id}) }}">Modifier</a>
					{% if app.user.id is same as(event.organizer.id) and event.status.type is same as ('Ouverte') %}
						<a href="{{ path('app_event_cancel_redirect', {'id': event.id}) }}" class="text-danger">Annuler la sortie</a>
					{% endif %}
                    {% if event.status.type == 'Ouverte' and event.registrationDeadline > date() and not event.users.contains(app.user) %}
                        <form method="post" action="{{ path('app_event_register', {'id': event.id}) }}" style="display:inline">
                            <input type="hidden" name="_token" value="{{ csrf_token('register' ~ event.id) }}">
                            <button class="btn btn-success btn-sm">S'inscrire</button>
                        </form>
                    {% elseif event.users.contains(app.user) and event.startDateTime > date() %}
                        <form method="post" action="{{ path('app_event_unregister', {'id': event.id}) }}" style="display:inline">
                            <input type="hidden" name="_token" value="{{ csrf_token('unregister' ~ event.id) }}">
                            <button class="btn btn-warning btn-sm">Se désister</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_event_new') }}">Créer une sortie</a>
{% endblock %}
