{% extends 'base.html.twig' %}

{% block title %}Event{% endblock %}

{% block body %}
    <h1>Détail de la sortie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom de la sortie :</th>
                <td>{{ event.name }}</td>
            </tr>
            <tr>
                <th>Date et heure de la sortie :</th>
                <td>{{ event.startDateTime ? event.startDateTime|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date limite d'inscription :</th>
                <td>{{ event.registrationDeadline ? event.registrationDeadline|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Nombre de places</th>
                <td>{{ event.maxRegistration }}</td>
            </tr>
            <tr>
                <th>Durée :</th>
                <td>{{ event.duration }} minutes</td>
            </tr>
            <tr>
                <th>Info :</th>
                <td>{{ event.info }}</td>
            </tr>
            <tr>
                <th>Ville organisatrise :</th>
                <td>{{ event.organizer.isAttached.name }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td><p>Lieu : {{ location.name }} - {{ location.street }}, {{ location.postalCode }} {{ location.cityName }}</p></td>
        </tbody>
    </table>
    <h2>Liste des inscrits</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
        {% for user in event.users %}
            <tr>
                <td><a href="{{ path('app_user_show', {'id': user.id}) }}">{{ user.username }}</a></td>
                <td>{{ user.firstName }} {{ user.lastname }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('app_event_index') }}">back to list</a>
{#{{ include('event/_delete_form.html.twig') }}#}
{% endblock %}
