{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} / Accueil {% endblock %}

{% block body %}
    <div class="container-fluid pt-3">
        <div class="row justify-content-center">
            <h2>Participant : {{ app.user.firstname }} {{ app.user.lastname }}</h2>
            {% if app.user %}
        </div>

        <div id="filtreAccueil">
            {{ form_start(filtreForm) }}

            <div class="row justify-content-around">
                <div class="col-4">
                    {{ form_label(filtreForm.site) }}
                    {{ form_widget(filtreForm.site) }}
                    <br>
                    {{ form_label(filtreForm.search) }}
                    {{ form_widget(filtreForm.search) }}
                    <br>
                    <p>Entre
                        {{ form_widget(filtreForm.startDateTime) }}
                        et
                        {{ form_widget(filtreForm.registrationDeadline) }}
                    </p>
                </div>
                <div class="col-4">
                    {{ form_widget(filtreForm.organizer) }}
                    {{ form_label(filtreForm.organizer) }}
                    <br>
                    {{ form_widget(filtreForm.isRegister) }}
                    {{ form_label(filtreForm.isRegister) }}
                    <br>
                    {{ form_widget(filtreForm.unRegister) }}
                    {{ form_label(filtreForm.unRegister) }}
                    <br>
                    {{ form_widget(filtreForm.isPast) }}
                    {{ form_label(filtreForm.isPast) }}
                </div>
                <div class="row">
                    <div class="btn">
                        {{ form_widget(filtreForm.rechercher, { 'attr': {'class': 'btn btn-outline-info'} }) }}
                    </div>
                </div>
            </div>
            {{ form_end(filtreForm) }}

            {% if events | length == 0 %}
                <h3 class="text-center mt-5">Aucun résultat trouvé !</h3>
            {% else %}
                {{ include('event/index.html.twig') }}
            {% endif %}

            {% if events | length > 0 %}
                <div class="pagination d-flex justify-content-between mt-3">
                    {% if pagination.hasPreviousPage %}
                        <a href="{{ path('app_main_index', {
                            'page': pagination.previousPage,
                            'filtre': {
                                'site': filtreForm.vars.value.site ? filtreForm.vars.value.site.id : null,
                                'search': filtreForm.vars.value.search,
                                'startDateTime': filtreForm.vars.value.startDateTime ? filtreForm.vars.value.startDateTime|date('Y-m-d') : null,
                                'registrationDeadline': filtreForm.vars.value.registrationDeadline ? filtreForm.vars.value.registrationDeadline|date('Y-m-d') : null,
                                'organizer': filtreForm.vars.value.organizer ? '1' : '0',
                                'isRegister': filtreForm.vars.value.isRegister ? '1' : '0',
                                'unRegister': filtreForm.vars.value.unRegister ? '1' : '0',
                                'isPast': filtreForm.vars.value.isPast ? '1' : '0'
                            }
                        }) }}" class="btn btn-outline-primary">
                            <i class="fas fa-chevron-left"></i> Page précédente
                        </a>
                    {% else %}
                        <span></span>
                    {% endif %}

                    <span class="align-self-center">
                        Page {{ pagination.currentPage }} sur {{ pagination.totalPages }}
                        ({{ pagination.totalItems }} événements)
                    </span>

                    {% if pagination.hasNextPage %}
                        <a href="{{ path('app_main_index', {
                            'page': pagination.nextPage,
                            'filtre': {
                                'site': filtreForm.vars.value.site ? filtreForm.vars.value.site.id : null,
                                'search': filtreForm.vars.value.search,
                                'startDateTime': filtreForm.vars.value.startDateTime ? filtreForm.vars.value.startDateTime|date('Y-m-d') : null,
                                'registrationDeadline': filtreForm.vars.value.registrationDeadline ? filtreForm.vars.value.registrationDeadline|date('Y-m-d') : null,
                                'organizer': filtreForm.vars.value.organizer ? '1' : '0',
                                'isRegister': filtreForm.vars.value.isRegister ? '1' : '0',
                                'unRegister': filtreForm.vars.value.unRegister ? '1' : '0',
                                'isPast': filtreForm.vars.value.isPast ? '1' : '0'
                            }
                        }) }}" class="btn btn-outline-primary">
                            <i class="fas fa-chevron-left"></i> Page suivante
                        </a>
                    {% else %}
                        <span></span>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div style="margin-bottom: 9em">
            <a class="btn btn-warning position-absolute start-50 translate-middle mt-3" id="btn_new"
               href="{{ path('app_event_new') }}" role="button">Nouvelle sortie</a>
        </div>
        {% else %}
            <p>Veuillez vous connecter pour voir la liste des sorties !</p>
        {% endif %}
    </div>
{% endblock %}